<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h1>mapa</h1>
		<div>
			<h2>Campo de Comandos</h2>
			<form method="post" action="/game">
				<input id="campo-de-comandos" type="text" name="campo-de-comandos" value="<%= session['comandos']%>">
				<input type="submit" value="Ejecutar"><hr/>
				<button name="comandos" value="i">Izquierda</button>
				<button name="comandos" value="d">Derecha</button>
				<button name="comandos" value="a">Avanzar</button>
			</form>
		</div>
		<div>
			<table class="table table-bordered">
				<% session[:mapa].cuadricula.each_with_index do |linea, i| %>
				<tr>
					<% linea.each_with_index do |col, j| %>
					<td class="pos-<%= "#{i}-#{j}"%>"><%= col %></td>
					<% end %>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h2>instrucciones</h2>
		<p>
			Escriba en las instrucciones:
			a: avanzar
			d: derecha
			i: izquierda
		</p>
	</div>
	<% if session[:mapa].encontro_tesoro? %>
		<h1>Atrapaste el tesoro!!</h1>
	<% elsif session[:mapa].juego_terminado? %>
		<h1>Perdiste!!!</h1>
		<a class="btn btn-danger" href="/">Reiniciar</a>
	<% end %>
</div>
