<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h1>mapa</h1>
		<div>
			<h2>Campo de Comandos</h2>
			<form method="post" action="/game">
				<input type="text" name="campo-de-comandos" value="">
				<input type="submit" value="Ejecutar">
			</form>
		</div>
		<div>
			<table class="table table-bordered">
				<% session[:mapa].cuadricula.each do |linea| %>
				<tr>
					<% linea.each do |col| %>
					<td><%= col %></td>
					<% end %>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h2>instrucciones</h2>
		<p>
			Escriba en las instrucciones:
			a: avanzar
			d: derecha
			i: izquierda
		</p>
	</div>
</div>
