<!DOCTYPE html>
<html>
<head>
	<title>Treasure Hunter</title>
</head>
<body>
	<h1>Treasure hunter</h1>
	<form method="POST" action="/game">
		<input type="submit" name="Jugar" value="Jugar">
		
	</form>
</body>
</html>